@font-face
{
  font-family: "Uncial Antiqua";
  src: url('/assets/fonts/UncialAntiqua-Regular.ttf') format('truetype');
}

/** Variables */

:root
{
    --Page-background: #075925 /* Dark green */;
    --Content-background:  #d3eadb; /* Light green */
    --Text-color: black;
    --Border-color: #075925 /* Dark green */;
    --Accent-color: #05491e /* Dark green */;
    --Selection-background: #075925 /* Dark green */;
    --Selection-color: white;
}

/** Colors and borders */

html
{
    background-color: var(--Page-background);
}

body
{
    max-width: 60rem;
    padding: 1rem 2rem 2rem;
    margin-left:  auto; 
    margin-right: auto;

    background:  var(--Content-background);

    box-shadow: 0px 0px 10px 10px rgba(1, 1, 1, 0.5);
}

nav
{
    margin: auto;
    padding: 5px;
    border-bottom: 3px solid var(--Border-color);
    margin-bottom: 5px;

    text-align: center;
}

nav a
{
    color: var(--Accent-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Uncial Antiqua";
    font-size: 120%;
    margin-right: 2em;
}

a
{
    color: var(--Accent-color);
}

a.current-page
{
    font-weight: bold;
}

a.nonexistent-page
{
    color: red;
}

footer
{
    margin: auto;
    padding: 5px;
    border-top: 3px solid var(--Border-color);
    margin-top: 5px;

    text-align: center;
}

::selection 
{
    background: var(--Selection-background);
    color: var(--Selection-color);
}

hr
{
    border: 0 none;
    color: var(--Accent-color);
    background-color: currentColor;
    height: 2px;
    width: 40%;
}


/** Typography */

@supports (hyphens: auto)
{
    main
    {
        text-align: justify;
        hyphens: auto;
    }
}

body
{
    font-family: system-ui, sans-serif;
}

table, th, td
{
    border: 1px solid var(--Accent1-color);
    border-collapse: collapse;
}

th, td
{
    padding: 0.5em;
    hyphens: none;
    text-align: left;
} 

a.footnote
{
    text-decoration: none;
    margin-right: 0.4rem;
}
